Repository dart-lang/linter, pull requests merged in 2021-07, with the labels that each got.

#2740 gh label query tool
  tool/canonical/gh_labels.dart
  tool/canonical/readme.md
Labels: cla: yes

#2741 support unicode in `valid_regexps`
  lib/src/rules/valid_regexps.dart
  test_data/rules/valid_regexps.dart
Labels: cla: yes

#2743 update references to canonical lint sources
  example/readme.md
Labels: cla: yes

#2744 fix false positive in `use_late_for_private_fields_and_variables` in the presence of const constructors
  lib/src/rules/use_late_for_private_fields_and_variables.dart
  test_data/rules/experiments/nnbd/rules/use_late_for_private_fields_and_variables.dart
  test_data/rules/use_late_for_private_fields_and_variables.dart
Labels: cla: yes

#2746 Update 'analyzer' constraint to '>=1.7.0 <3.0.0', 'meta' constraint to '>=1.3.0 <3.0.0'.
  CHANGELOG.md
  lib/src/version.dart
  pubspec.yaml
Labels: cla: yes

#2745 Fix unclosed code block in directives_ordering details
  lib/src/rules/directives_ordering.dart
Labels: cla: yes

#2749 add github authentication
  tool/crawl.dart
  tool/doc.dart
  tool/scorecard.dart
  tool/since.dart
Labels: cla: yes

#2750 disable `avoid_returning_null` w/ nnbd
  lib/src/rules/avoid_returning_null.dart
  test_data/rules/avoid_returning_null.dart
  test_data/rules/experiments/nnbd/rules/avoid_returning_null.dart
Labels: cla: yes

#2754 fix `avoid_classes_with_only_static_members` to flag classes with only methods
  lib/src/rules/avoid_classes_with_only_static_members.dart
  test_data/rules/avoid_classes_with_only_static_members.dart
Labels: cla: yes

#2752 skip nullable iterables in `avoid_function_literals_in_foreach_calls`
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  test_data/rules/avoid_function_literals_in_foreach_calls.dart
Labels: cla: yes

#2755 fix false positive in `unnecessary_string_interpolations` w/ nullable interpolated strings
  lib/src/rules/unnecessary_string_interpolations.dart
  test_data/rules/unnecessary_string_interpolations.dart
Labels: cla: yes

#2757 Remove a word from documentation.
  doc/WritingLints.MD
Labels: cla: yes

#2759 revert meta dep bump
  pubspec.yaml
Labels: cla: yes

#2761 support type aliases in `always_specify_types`
  lib/src/rules/always_specify_types.dart
  test/experiments_test.dart
  test_data/rules/experiments/nonfunction-type-aliases/rules/.mock_packages
  test_data/rules/experiments/nonfunction-type-aliases/rules/always_specify_types.dart
Labels: cla: yes

#2762 Implement eol_at_end_of_file rule
  example/all.yaml
  lib/src/formatter.dart
  lib/src/rules.dart
  lib/src/rules/eol_at_end_of_file.dart
  lib/src/rules/unnecessary_getters_setters.dart
  test/integration/eol_at_end_of_file.dart
  test_data/integration/eol_at_end_of_file/lintconfig.yaml
  test_data/integration/eol_at_end_of_file/src/empty.dart
  test_data/integration/eol_at_end_of_file/src/multipleComments.dart
  test_data/integration/eol_at_end_of_file/src/multipleNewLines.dart
  test_data/integration/eol_at_end_of_file/src/newline.dart
  test_data/integration/eol_at_end_of_file/src/noNewline.dart
  test_data/rules/eol_at_end_of_file.dart
  tool/doc.dart
Labels: cla: yes

#2767 Update changelog about eol_at_end_of_file
  CHANGELOG.md
Labels: cla: yes

#2772 analyzer 2.0.0
  CHANGELOG.md
  lib/src/util/dart_type_utilities.dart
  pubspec.yaml
Labels: cla: yes

#2766 + asashour
  AUTHORS
Labels: cla: yes

#2771 Fix curly_braces_in_flow_control_structures when "if" is "else" of previous "if"
  CHANGELOG.md
  lib/src/rules/curly_braces_in_flow_control_structures.dart
  test_data/rules/curly_braces_in_flow_control_structures.dart
Labels: cla: yes

#2774 Remove `pub get` from action
  .github/workflows/build.yaml
Labels: cla: yes

#2775 fix docs (E => EnumLike)
  lib/src/rules/exhaustive_cases.dart
Labels: cla: yes

#2776 platform-aware path filtering
  test/validate_format_test.dart
Labels: cla: yes

#2786 Ignore unnecessary cast warning.
  lib/src/rules/avoid_dynamic_calls.dart
Labels: cla: yes

#2788 check for inherited members in `avoid_classes_with_only_static_members`
  lib/src/rules/avoid_classes_with_only_static_members.dart
  test_data/rules/avoid_classes_with_only_static_members.dart
Labels: cla: yes

#2791 allow keywords for dart package_names
  lib/src/utils.dart
  test/utils_test.dart
Labels: cla: yes

#2799 Fix no_logic_in_create_state for empty body
  lib/src/rules/no_logic_in_create_state.dart
  test_data/rules/no_logic_in_create_state.dart
Labels: cla: yes

#2796 migrate `prefer_is_not_empty` from visitSimpleIdentifier to more specific visitPrefixEpression
  lib/src/rules/prefer_is_not_empty.dart
Labels: cla: yes, set: core

#2793 1.8.0
  CHANGELOG.md
  lib/src/version.dart
  pubspec.yaml
Labels: cla: yes

#2807 add missing entries for `1.8.0`
  CHANGELOG.md
Labels: cla: yes

#2808 Fix some minor spelling mistakes in lint details
  lib/src/rules/cascade_invocations.dart
  lib/src/rules/leading_newlines_in_multiline_strings.dart
  lib/src/rules/missing_whitespace_between_adjacent_strings.dart
Labels: cla: yes

#2809 Properly close code block in eol_at_end_of_file description
  lib/src/rules/eol_at_end_of_file.dart
Labels: cla: yes

#2821 guard against unparsable versions
  tool/since.dart
Labels: cla: yes

#2825 fix options (mis)sort
  analysis_options.yaml
Labels: cla: yes

#2801 `annotate_overrides` perf fixes
  lib/src/rules/annotate_overrides.dart
Labels: cla: yes, set: recommended

#2802 stop visiting simple identifiers in `prefer_void_to_null`
  lib/src/rules/prefer_void_to_null.dart
Labels: cla: yes, set: recommended

#2819 migrate `prefer_contains` to a binaryExpression visitor
  lib/src/ast.dart
  lib/src/rules/prefer_contains.dart
  lib/src/rules/prefer_is_empty.dart
Labels: cla: yes, set: recommended

#2811 Fix false positive in `use_rethrow_when_possible`
  lib/src/rules/use_rethrow_when_possible.dart
  test_data/rules/use_rethrow_when_possible.dart
Labels: cla: yes, set: recommended

#2812 Fix false positive in `omit_local_variable_types`
  lib/src/rules/omit_local_variable_types.dart
  test_data/rules/omit_local_variable_types.dart
Labels: cla: yes, false positive

#2826 fix example
  lib/src/rules/prefer_contains.dart
Labels: cla: yes

#2831 Fix typo
  lib/src/ast.dart
Labels: cla: yes
