Repository dart-lang/linter, pull requests merged in 2021-08, with the labels that each got.

#2843 Fix false positive in `prefer_void_to_null`
  lib/src/rules/prefer_void_to_null.dart
  test_data/rules/prefer_void_to_null.dart
Labels: cla: yes

#2846 Remove unneeded ignore
  lib/src/ast.dart
Labels: cla: yes

#2847 Add TODO to remove an `ignore` once an issue is fixed
  test/rule_test.dart
Labels: cla: yes

#2850 Remove unused field.
  lib/src/rules/always_use_package_imports.dart
  lib/src/rules/avoid_equals_and_hash_code_on_mutable_classes.dart
  lib/src/rules/void_checks.dart
Labels: cla: yes

#2842 Better lint messages for `avoid_renaming_method_parameters`
  lib/src/rules/avoid_renaming_method_parameters.dart
  test/integration/avoid_renaming_method_parameters.dart
Labels: cla: yes

#2852 only flag the getter in `unnecessary_getters_setters`
  lib/src/rules/unnecessary_getters_setters.dart
  test_data/rules/unnecessary_getters_setters.dart
Labels: cla: yes, set: recommended

#2816 Fix `void_checks` for a compiler error case
  lib/src/rules/void_checks.dart
  test_data/rules/void_checks.dart
Labels: cla: yes, false positive, set: core

#2855 test case for (fixed) `void_checks` issue
  test_data/rules/void_checks.dart
Labels: cla: yes, set: core

#2854 skip factory constructors when checking `prefer_initializing_formals`
  lib/src/rules/prefer_initializing_formals.dart
  test_data/rules/prefer_initializing_formals.dart
Labels: cla: yes, false positive, set: recommended

#2858 fix `prefer_generic_function_type_aliases` false positive w/ incomplete statements
  lib/src/rules/prefer_generic_function_type_aliases.dart
  test_data/rules/prefer_generic_function_type_aliases.dart
Labels: cla: yes

#2856 fix `prefer_void_to_null` false positive on overriding returns
  lib/src/rules/prefer_void_to_null.dart
  test_data/rules/prefer_void_to_null.dart
Labels: cla: yes

#2859 test case for fixed `void_checks` false positive
  test_data/rules/void_checks.dart
Labels: cla: yes

#2860 `void_checks` false positive fix test case
  test_data/rules/void_checks.dart
Labels: cla: yes

#2861 `prefer_initializing_formals` false positive fix test case
  test_data/rules/prefer_initializing_formals.dart
Labels: cla: yes

#2862 fix `prefer_void_to_null` false positive w/ overridden properties
  lib/src/rules/prefer_void_to_null.dart
  test_data/rules/prefer_void_to_null.dart
Labels: cla: yes

#2853 mark `avoid_dynamic_calls` stable
  lib/src/rules/avoid_dynamic_calls.dart
Labels: cla: yes

#2863 Enable `prefer_single_quotes`
  analysis_options.yaml
  lib/src/rules/avoid_renaming_method_parameters.dart
  lib/src/util/ascii_utils.dart
  test/integration/depend_on_referenced_packages.dart
Labels: cla: yes

#2865 remove `MockPubVisitor`
  test/mocks.dart
Labels: cla: yes

#2866 remove unused `MockRule`
  test/mocks.dart
Labels: cla: yes

#2867 make analyzer mocks less fragile
  test/formatter_test.dart
  test/mocks.dart
Labels: cla: yes

#2868 1.9.0
  CHANGELOG.md
  lib/src/version.dart
  pubspec.yaml
Labels: cla: yes

#2870 fix false positive for deferred imports in `prefer_const_constructors`
  lib/src/rules/prefer_const_constructors.dart
  test/integration/prefer_const_constructors.dart
  test/integration_test.dart
  test_data/integration/prefer_const_constructors/lintconfig.yaml
  test_data/integration/prefer_const_constructors/src/a.dart
  test_data/integration/prefer_const_constructors/src/b.dart
Labels: cla: yes

#2872 fix false positive in `avoid_null_checks_in_equality_operators` w/ non-nullable param
  lib/src/rules/avoid_null_checks_in_equality_operators.dart
  test_data/rules/avoid_null_checks_in_equality_operators.dart
Labels: cla: yes

#2875 fix `overridden_fields` false positive w/ static fields
  lib/src/rules/overridden_fields.dart
  test_data/rules/overridden_fields.dart
Labels: cla: yes

#2876 support blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: cla: yes

#2877 + link to lints issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: cla: yes

#2879 Fix false positive in `use_build_context_synchronously`
  lib/src/rules/use_build_context_synchronously.dart
  test/integration/use_build_context_synchronously.dart
  test_data/integration/use_build_context_synchronously/lib/unmigrated.dart
Labels: cla: yes

#2881 prefer `alias` over `aliasElement`
  lib/src/rules/always_specify_types.dart
Labels: cla: yes

#2882 + davidmartos
  AUTHORS
Labels: cla: yes

#2883 Require analyzer 2.1.0, remove cast to CompoundAssignmentExpression.
  lib/src/rules/avoid_dynamic_calls.dart
  pubspec.yaml
Labels: cla: yes

#2871 re-enable pana bot (try)
  .github/workflows/build.yaml
  tool/baseline/pana.json
Labels: cla: yes

#2804 Improve RegExps.
  lib/src/ast.dart
  lib/src/utils.dart
Labels: cla: yes, set: core, needs internal testing

#2889 disallow reserved words in package names
  lib/src/ast.dart
  lib/src/utils.dart
  test/utils_test.dart
Labels: cla: yes

#1943 Recommend using runtimeType in hash_and_equals
  lib/src/rules/hash_and_equals.dart
Labels: cla: yes

#2890 +michael
  AUTHORS
Labels: cla: yes

#2888 1.10.0
  CHANGELOG.md
  lib/src/version.dart
  pubspec.yaml
Labels: cla: yes

#2906 update predefined rulesets
  tool/doc.dart
Labels: cla: yes

#2908 constructor tear-off tests
  test_data/rules/experiments/constructor_tearoffs/rules/always_specify_types.dart
Labels: cla: yes

#2915 test updates for `always_specify_types` w/ constructor tear-offs
  test_data/rules/experiments/constructor_tearoffs/rules/always_specify_types.dart
Labels: cla: yes

#2916 integrate nonfunction-type-alias experiment tests
  test_data/rules/always_specify_types.dart
  test_data/rules/camel_case_types.dart
  test_data/rules/experiments/constructor_tearoffs/rules/always_specify_types.dart
  test_data/rules/experiments/nonfunction-type-aliases/analysis_options.yaml
  test_data/rules/experiments/nonfunction-type-aliases/rules/.mock_packages
  test_data/rules/experiments/nonfunction-type-aliases/rules/always_specify_types.dart
  test_data/rules/experiments/nonfunction-type-aliases/rules/camel_case_types.dart
  test_data/rules/experiments/nonfunction-type-aliases/rules/prefer_mixin.dart
  test_data/rules/experiments/nonfunction-type-aliases/rules/slash_for_doc_comments.dart
  test_data/rules/prefer_mixin.dart
  test_data/rules/slash_for_doc_comments.dart
Labels: cla: yes

#2917 integrate nnbd tests
  test_data/rules/avoid_dynamic_calls.dart
  test_data/rules/cast_nullable_to_non_nullable.dart
  test_data/rules/use_if_null_to_convert_nulls_to_bools.dart
Labels: cla: yes
