Repository dart-lang/linter, pull requests merged in 2022-08, with the labels that each got.

#3570 Move 5 static functions out of DartTypeUtilities
  lib/src/ast.dart
  lib/src/extensions.dart
  lib/src/rules/always_require_non_null_named_parameters.dart
  lib/src/rules/avoid_init_to_null.dart
  lib/src/rules/avoid_null_checks_in_equality_operators.dart
  lib/src/rules/avoid_returning_null.dart
  lib/src/rules/cascade_invocations.dart
  lib/src/rules/invariant_booleans.dart
  lib/src/rules/join_return_with_assignment.dart
  lib/src/rules/prefer_conditional_assignment.dart
  lib/src/rules/prefer_final_fields.dart
  lib/src/rules/prefer_foreach.dart
  lib/src/rules/prefer_initializing_formals.dart
  lib/src/rules/unnecessary_null_aware_assignments.dart
  lib/src/rules/unnecessary_null_in_if_null_operators.dart
  lib/src/rules/unnecessary_overrides.dart
  lib/src/rules/unrelated_type_equality_checks.dart
  lib/src/rules/use_late_for_private_fields_and_variables.dart
  lib/src/rules/use_rethrow_when_possible.dart
  lib/src/rules/use_setters_to_change_properties.dart
  lib/src/rules/use_string_buffers.dart
  lib/src/util/condition_scope_visitor.dart
  lib/src/util/dart_type_utilities.dart
Labels: set-recommended, set-core

#3572 Move two more DartTypeUtilities static methods into extensions
  lib/src/extensions.dart
  lib/src/rules/exhaustive_cases.dart
  lib/src/rules/no_default_cases.dart
  lib/src/util/dart_type_utilities.dart
Labels: set-recommended

#3574 Move 4 static DartTypeUtilities methods to extensions
  lib/src/extensions.dart
  lib/src/rules/avoid_slow_async_io.dart
  lib/src/rules/await_only_futures.dart
  lib/src/rules/null_closures.dart
  lib/src/rules/omit_local_variable_types.dart
  lib/src/rules/prefer_mixin.dart
  lib/src/rules/unsafe_html.dart
  lib/src/util/condition_scope_visitor.dart
  lib/src/util/dart_type_utilities.dart
Labels: set-recommended, set-core

#3545 Insert reasoning for `avoid_function_literals_in_foreach_calls` lint
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
Labels: type-documentation, set-recommended

#3589 Require analyze 4.5.0, stop using deprecated APIs.
  lib/src/ast.dart
  lib/src/extensions.dart
  lib/src/rules/annotate_overrides.dart
  lib/src/rules/avoid_classes_with_only_static_members.dart
  lib/src/rules/avoid_equals_and_hash_code_on_mutable_classes.dart
  lib/src/rules/avoid_field_initializers_in_const_classes.dart
  lib/src/rules/avoid_init_to_null.dart
  lib/src/rules/avoid_positional_boolean_parameters.dart
  lib/src/rules/avoid_renaming_method_parameters.dart
  lib/src/rules/avoid_returning_null.dart
  lib/src/rules/avoid_returning_null_for_future.dart
  lib/src/rules/avoid_returning_null_for_void.dart
  lib/src/rules/avoid_returning_this.dart
  lib/src/rules/avoid_shadowing_type_parameters.dart
  lib/src/rules/avoid_type_to_string.dart
  lib/src/rules/avoid_void_async.dart
  lib/src/rules/cascade_invocations.dart
  lib/src/rules/deprecated_consistency.dart
  lib/src/rules/diagnostic_describe_all_properties.dart
  lib/src/rules/no_logic_in_create_state.dart
  lib/src/rules/no_runtimeType_toString.dart
  lib/src/rules/one_member_abstracts.dart
  lib/src/rules/overridden_fields.dart
  lib/src/rules/prefer_asserts_in_initializer_lists.dart
  lib/src/rules/prefer_const_constructors_in_immutables.dart
  lib/src/rules/prefer_constructors_over_static_methods.dart
  lib/src/rules/prefer_final_fields.dart
  lib/src/rules/prefer_final_in_for_each.dart
  lib/src/rules/prefer_final_locals.dart
  lib/src/rules/prefer_foreach.dart
  lib/src/rules/prefer_function_declarations_over_variables.dart
  lib/src/rules/prefer_initializing_formals.dart
  lib/src/rules/prefer_void_to_null.dart
  lib/src/rules/public_member_api_docs.dart
  lib/src/rules/recursive_getters.dart
  lib/src/rules/unnecessary_await_in_return.dart
  lib/src/rules/unnecessary_getters_setters.dart
  lib/src/rules/unnecessary_null_checks.dart
  lib/src/rules/unnecessary_nullable_for_final_variable_declarations.dart
  lib/src/rules/unnecessary_overrides.dart
  lib/src/rules/use_enums.dart
  lib/src/rules/use_key_in_widget_constructors.dart
  lib/src/rules/use_late_for_private_fields_and_variables.dart
  lib/src/rules/use_named_constants.dart
  lib/src/rules/use_setters_to_change_properties.dart
  lib/src/rules/use_string_buffers.dart
  lib/src/rules/void_checks.dart
  lib/src/util/condition_scope_visitor.dart
  lib/src/util/dart_type_utilities.dart
  lib/src/util/leak_detector_visitor.dart
  lib/src/util/unrelated_types_visitor.dart
  pubspec.yaml
Labels: set-recommended, set-core, set-flutter

#3594 Move traverseNodesInDFS to extension
  lib/src/extensions.dart
  lib/src/rules/avoid_null_checks_in_equality_operators.dart
  lib/src/rules/avoid_returning_null.dart
  lib/src/rules/avoid_returning_this.dart
  lib/src/rules/cascade_invocations.dart
  lib/src/rules/diagnostic_describe_all_properties.dart
  lib/src/rules/invariant_booleans.dart
  lib/src/rules/parameter_assignments.dart
  lib/src/rules/prefer_constructors_over_static_methods.dart
  lib/src/rules/prefer_foreach.dart
  lib/src/rules/prefer_interpolation_to_compose_strings.dart
  lib/src/rules/recursive_getters.dart
  lib/src/rules/unnecessary_lambdas.dart
  lib/src/rules/unreachable_from_main.dart
  lib/src/util/condition_scope_visitor.dart
  lib/src/util/dart_type_utilities.dart
  lib/src/util/leak_detector_visitor.dart
Labels: set-recommended

#3595 Move four more methods out of DartTypeUtilities
  lib/src/extensions.dart
  lib/src/rules/unnecessary_lambdas.dart
  lib/src/rules/unnecessary_overrides.dart
  lib/src/rules/unrelated_type_equality_checks.dart
  lib/src/rules/use_full_hex_values_for_flutter_colors.dart
  lib/src/rules/use_late_for_private_fields_and_variables.dart
  lib/src/util/dart_type_utilities.dart
  lib/src/util/unrelated_types_visitor.dart
Labels: set-core, set-flutter

#3596 prefer_contains: Move constant evaluation to be later
  lib/src/rules/prefer_contains.dart
Labels: set-recommended

#3597 Move 6 DartTypeUtilities methods to MethodDeclaration extension methods
  lib/src/extensions.dart
  lib/src/rules/avoid_positional_boolean_parameters.dart
  lib/src/rules/avoid_setters_without_getters.dart
  lib/src/rules/unnecessary_overrides.dart
  lib/src/rules/use_to_and_as_if_applicable.dart
  lib/src/util/dart_type_utilities.dart
Labels: set-core

#3600 Move last methods out from DartTypeUtilities
  lib/src/extensions.dart
  lib/src/rules/avoid_catching_errors.dart
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  lib/src/rules/avoid_positional_boolean_parameters.dart
  lib/src/rules/avoid_returning_null.dart
  lib/src/rules/await_only_futures.dart
  lib/src/rules/cancel_subscriptions.dart
  lib/src/rules/close_sinks.dart
  lib/src/rules/diagnostic_describe_all_properties.dart
  lib/src/rules/omit_local_variable_types.dart
  lib/src/rules/only_throw_errors.dart
  lib/src/rules/prefer_collection_literals.dart
  lib/src/rules/prefer_contains.dart
  lib/src/rules/prefer_is_empty.dart
  lib/src/rules/prefer_iterable_whereType.dart
  lib/src/rules/unawaited_futures.dart
  lib/src/rules/unnecessary_to_list_in_spreads.dart
  lib/src/rules/use_key_in_widget_constructors.dart
  lib/src/rules/use_string_buffers.dart
  lib/src/util/dart_type_utilities.dart
  lib/src/util/flutter_utils.dart
Labels: set-recommended, set-core, set-flutter

#3619 Visit enum declaration for `avoid_redundant_argument_values`
  lib/src/rules/avoid_redundant_argument_values.dart
  test/rules/avoid_redundant_argument_values_test.dart
  test_data/rules/avoid_redundant_argument_values.dart
Labels: false negative

#3636 prep for analyzer 5.0
  lib/src/rules/overridden_fields.dart
Labels: set-recommended
