Repository dart-lang/linter, pull requests merged in 2022-11, with the labels that each got.

#3817 Standardize Effective Dart formatting in lint descriptions
  lib/src/rules/avoid_init_to_null.dart
  lib/src/rules/directives_ordering.dart
  lib/src/rules/type_annotate_public_apis.dart
  lib/src/rules/use_if_null_to_convert_nulls_to_bools.dart
  lib/src/rules/use_string_in_part_of_directives.dart
Labels: set-recommended

#3824 Properly match the types in the good versus bad prefer_collection_literals examples
  lib/src/rules/prefer_collection_literals.dart
Labels: set-recommended

#2773 Implement null_safety rule
  CHANGELOG.md
  example/all.yaml
  lib/src/rules.dart
  lib/src/rules/enable_null_safety.dart
  test/rules/all.dart
  test/rules/enable_null_safety_test.dart
Labels: cla: yes

#3831 Define a lint code for package_names
  lib/src/rules/pub/package_names.dart
Labels: set-recommended

#3834 Remove Iterable<Object?>-related methods from collection_methods_unrelated_type
  lib/src/rules/collection_methods_unrelated_type.dart
  test/rules/collection_methods_unrelated_type_test.dart
Labels: false positive

#3836 Fix implementation_imports example
  lib/src/rules/implementation_imports.dart
Labels: set-recommended

#3835 Add notes about `always_put_control_body_on_new_line` and the formatter
  lib/src/rules/always_put_control_body_on_new_line.dart
  lib/src/rules/always_specify_types.dart
Labels: type-documentation

#3837 Add lint codes for more rules
  lib/src/rules/always_declare_return_types.dart
  lib/src/rules/always_put_control_body_on_new_line.dart
  lib/src/rules/always_put_required_named_parameters_first.dart
  lib/src/rules/always_specify_types.dart
  lib/src/rules/always_use_package_imports.dart
  lib/src/rules/avoid_annotating_with_dynamic.dart
  lib/src/rules/avoid_as.dart
  lib/src/rules/avoid_bool_literals_in_conditional_expressions.dart
  lib/src/rules/avoid_dynamic_calls.dart
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  lib/src/rules/avoid_returning_null_for_future.dart
  lib/src/rules/avoid_slow_async_io.dart
  lib/src/rules/avoid_type_to_string.dart
  lib/src/rules/cancel_subscriptions.dart
  lib/src/rules/close_sinks.dart
  lib/src/rules/comment_references.dart
  lib/src/rules/literal_only_boolean_expressions.dart
  lib/src/rules/no_adjacent_strings_in_list.dart
  lib/src/rules/prefer_relative_imports.dart
  lib/src/rules/pub/sort_pub_dependencies.dart
Labels: set-recommended

#3840 Fix dead link in type_annotate_public_apis
  lib/src/rules/type_annotate_public_apis.dart
Labels: type-documentation

#3842 add linkcheck workflow
  .github/workflows/linkcheck.yml
Labels: process

#2753 fix false positives for type aliases in `avoid_private_typedef_functions`
  lib/src/rules/avoid_private_typedef_functions.dart
  test/rules/all.dart
  test/rules/avoid_private_typedef_functions_test.dart
Labels: cla: yes

#3843 quiet verbose link checking output
  .github/workflows/linkcheck.yml
Labels: process

#3819 `use_build_context_synchronously`: check for context properties
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: false negative, set-flutter

#3728 Ensure `BAD` comes before `GOOD` in the documentation
  lib/src/rules/always_put_control_body_on_new_line.dart
  lib/src/rules/always_put_required_named_parameters_first.dart
  lib/src/rules/always_require_non_null_named_parameters.dart
  lib/src/rules/always_specify_types.dart
  lib/src/rules/always_use_package_imports.dart
  lib/src/rules/annotate_overrides.dart
  lib/src/rules/avoid_equals_and_hash_code_on_mutable_classes.dart
  lib/src/rules/avoid_final_parameters.dart
  lib/src/rules/avoid_implementing_value_types.dart
  lib/src/rules/avoid_init_to_null.dart
  lib/src/rules/avoid_relative_lib_imports.dart
  lib/src/rules/avoid_return_types_on_setters.dart
  lib/src/rules/avoid_void_async.dart
  lib/src/rules/comment_references.dart
  lib/src/rules/constant_identifier_names.dart
  lib/src/rules/control_flow_in_finally.dart
  lib/src/rules/curly_braces_in_flow_control_structures.dart
  lib/src/rules/empty_constructor_bodies.dart
  lib/src/rules/file_names.dart
  lib/src/rules/library_names.dart
  lib/src/rules/library_prefixes.dart
  lib/src/rules/library_private_types_in_public_api.dart
  lib/src/rules/no_adjacent_strings_in_list.dart
  lib/src/rules/no_default_cases.dart
  lib/src/rules/no_duplicate_case_values.dart
  lib/src/rules/no_leading_underscores_for_library_prefixes.dart
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  lib/src/rules/one_member_abstracts.dart
  lib/src/rules/package_api_docs.dart
  lib/src/rules/prefer_asserts_in_initializer_lists.dart
  lib/src/rules/prefer_const_constructors.dart
  lib/src/rules/prefer_const_constructors_in_immutables.dart
  lib/src/rules/prefer_const_declarations.dart
  lib/src/rules/prefer_contains.dart
  lib/src/rules/prefer_initializing_formals.dart
  lib/src/rules/prefer_is_empty.dart
  lib/src/rules/prefer_is_not_empty.dart
  lib/src/rules/prefer_relative_imports.dart
  lib/src/rules/pub/secure_pubspec_urls.dart
  lib/src/rules/public_member_api_docs.dart
  lib/src/rules/require_trailing_commas.dart
  lib/src/rules/sort_constructors_first.dart
  lib/src/rules/sort_unnamed_constructors_first.dart
  lib/src/rules/super_goes_last.dart
  lib/src/rules/test_types_in_equals.dart
  lib/src/rules/throw_in_finally.dart
  lib/src/rules/type_init_formals.dart
  lib/src/rules/unawaited_futures.dart
  lib/src/rules/unnecessary_brace_in_string_interps.dart
  lib/src/rules/unnecessary_getters_setters.dart
  lib/src/rules/unnecessary_library_directive.dart
  lib/src/rules/unnecessary_null_aware_assignments.dart
  lib/src/rules/unnecessary_null_in_if_null_operators.dart
  lib/src/rules/unnecessary_parenthesis.dart
  lib/src/rules/use_build_context_synchronously.dart
  test/validate_rule_description_format_test.dart
Labels: set-recommended, set-core, set-flutter

#3849 look at unique names when checking fix status
  tool/doc.dart
Labels: type-documentation, area-build

#3855 Deprecate prefer_equal_for_default_values
  example/all.yaml
  lib/src/rules/prefer_equal_for_default_values.dart
Labels: set-recommended

#3862 don't overreport `prefer_equal_for_default_values` when it's a warning
  lib/src/rules/prefer_equal_for_default_values.dart
  test/rules/prefer_equal_for_default_values_test.dart
  test_data/rules/prefer_equal_for_default_values.dart
Labels: set-recommended

#3869 update unrelated_type_equality_checks for fixnum restructuring
  lib/src/rules/unrelated_type_equality_checks.dart
Labels: set-core
