Repository dart-lang/linter, pull requests merged in 2022-10, with the labels that each got.

#3721 migrate `unnecessary_lambdas` from `traverseNodesInDFS()`
  lib/src/rules/unnecessary_lambdas.dart
Labels: type-performance

#3720 migrate `diagnostic_describe_all_properties` from `traverseNodesInDFS()`
  lib/src/rules/diagnostic_describe_all_properties.dart
Labels: type-performance

#3722 reduce (needless) iteration in `tighten_type_of_initializing_formals`
  lib/src/rules/tighten_type_of_initializing_formals.dart
Labels: type-performance

#3723 simplify iteration in `avoid_escaping_inner_quotes`
  lib/src/rules/avoid_escaping_inner_quotes.dart
Labels: type-performance

#3719 migrate `prefer_foreach` from `traverseNodesInDFS()`
  lib/src/rules/prefer_foreach.dart
Labels: type-performance

#3743 migrate `avoid_returning_this` from `traverseNodesInDFS`
  lib/src/rules/avoid_returning_this.dart
Labels: type-performance

#3715 migrate `parameter_assignments` from `traverseNodesInDFS()`
  lib/src/rules/parameter_assignments.dart
  test/rules/all.dart
  test/rules/parameter_assignments_test.dart
Labels: type-performance

#3744 migrate `avoid_returning_null` from `traverseNodesInDFS`
  lib/src/rules/avoid_returning_null.dart
Labels: type-performance

#3747 migrate `prefer_constructors_over_static_methods` from `traverseNodesInDFS`
  lib/src/rules/prefer_constructors_over_static_methods.dart
Labels: type-performance

#3746 migrate `prefer_interpolation_to_compose_strings` from `traverseNodesInDFS`
  lib/src/rules/prefer_interpolation_to_compose_strings.dart
Labels: type-performance, set-recommended

#3726 unnecessary_overrides: correctly identify the overridden signature
  lib/src/rules/unnecessary_overrides.dart
  test_data/rules/unnecessary_overrides.dart
Labels: false negative, set-core

#3713 Address false positive in 3240
  lib/src/rules/cascade_invocations.dart
  test_data/rules/cascade_invocations.dart
Labels: false positive

#3761 Add lint codes for the remaining core lints
  lib/src/rules/non_constant_identifier_names.dart
  lib/src/rules/null_check_on_nullable_type_parameter.dart
  lib/src/rules/package_prefixed_library_names.dart
  lib/src/rules/prefer_generic_function_type_aliases.dart
  lib/src/rules/prefer_is_empty.dart
  lib/src/rules/prefer_is_not_empty.dart
  lib/src/rules/prefer_iterable_whereType.dart
  lib/src/rules/prefer_typing_uninitialized_variables.dart
  lib/src/rules/provide_deprecation_message.dart
  lib/src/rules/unnecessary_overrides.dart
  lib/src/rules/void_checks.dart
Labels: set-core

#3763 Add lint codes for the about half the recommended lints
  lib/src/rules/always_require_non_null_named_parameters.dart
  lib/src/rules/annotate_overrides.dart
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  lib/src/rules/avoid_init_to_null.dart
  lib/src/rules/avoid_null_checks_in_equality_operators.dart
  lib/src/rules/avoid_renaming_method_parameters.dart
  lib/src/rules/avoid_return_types_on_setters.dart
  lib/src/rules/avoid_returning_null_for_void.dart
  lib/src/rules/avoid_single_cascade_in_expression_statements.dart
  lib/src/rules/constant_identifier_names.dart
  lib/src/rules/control_flow_in_finally.dart
  lib/src/rules/empty_constructor_bodies.dart
  lib/src/rules/empty_statements.dart
  lib/src/rules/exhaustive_cases.dart
  lib/src/rules/implementation_imports.dart
  lib/src/rules/library_names.dart
  lib/src/rules/library_prefixes.dart
  lib/src/rules/library_private_types_in_public_api.dart
  lib/src/rules/no_leading_underscores_for_library_prefixes.dart
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  lib/src/rules/null_closures.dart
  lib/src/rules/overridden_fields.dart
  lib/src/rules/prefer_adjacent_string_concatenation.dart
  lib/src/rules/prefer_collection_literals.dart
  lib/src/rules/prefer_conditional_assignment.dart
  lib/src/rules/prefer_contains.dart
  lib/src/rules/prefer_void_to_null.dart
  lib/src/rules/pub/package_names.dart
  lib/src/rules/throw_in_finally.dart
Labels: set-recommended

#3764 Add lint codes for the remaining recommented lints
  lib/src/rules/prefer_equal_for_default_values.dart
  lib/src/rules/prefer_final_fields.dart
  lib/src/rules/prefer_for_elements_to_map_fromIterable.dart
  lib/src/rules/prefer_function_declarations_over_variables.dart
  lib/src/rules/prefer_if_null_operators.dart
  lib/src/rules/prefer_initializing_formals.dart
  lib/src/rules/prefer_inlined_adds.dart
  lib/src/rules/prefer_interpolation_to_compose_strings.dart
  lib/src/rules/prefer_is_not_operator.dart
  lib/src/rules/prefer_null_aware_operators.dart
  lib/src/rules/prefer_spread_collections.dart
  lib/src/rules/recursive_getters.dart
  lib/src/rules/slash_for_doc_comments.dart
  lib/src/rules/type_init_formals.dart
  lib/src/rules/unnecessary_brace_in_string_interps.dart
  lib/src/rules/unnecessary_const.dart
  lib/src/rules/unnecessary_constructor_name.dart
  lib/src/rules/unnecessary_getters_setters.dart
  lib/src/rules/unnecessary_late.dart
  lib/src/rules/unnecessary_new.dart
  lib/src/rules/unnecessary_null_aware_assignments.dart
  lib/src/rules/unnecessary_null_in_if_null_operators.dart
  lib/src/rules/unnecessary_nullable_for_final_variable_declarations.dart
  lib/src/rules/unnecessary_string_escapes.dart
  lib/src/rules/unnecessary_string_interpolations.dart
  lib/src/rules/unnecessary_this.dart
  lib/src/rules/use_function_type_syntax_for_parameters.dart
  lib/src/rules/use_rethrow_when_possible.dart
Labels: set-recommended

#3765 Add lint codes for the flutter lints
  lib/src/rules/avoid_print.dart
  lib/src/rules/avoid_unnecessary_containers.dart
  lib/src/rules/avoid_web_libraries_in_flutter.dart
  lib/src/rules/no_logic_in_create_state.dart
  lib/src/rules/prefer_const_constructors.dart
  lib/src/rules/prefer_const_constructors_in_immutables.dart
  lib/src/rules/prefer_const_declarations.dart
  lib/src/rules/prefer_const_literals_to_create_immutables.dart
  lib/src/rules/sized_box_for_whitespace.dart
  lib/src/rules/sort_child_properties_last.dart
  lib/src/rules/use_build_context_synchronously.dart
  lib/src/rules/use_full_hex_values_for_flutter_colors.dart
  lib/src/rules/use_key_in_widget_constructors.dart
Labels: set-flutter

#3770 Do not consider super formals as local variables
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  test_data/rules/no_leading_underscores_for_local_identifiers.dart
Labels: set-recommended

#3772 Fix a lint code correction message
  lib/src/rules/avoid_unnecessary_containers.dart
Labels: set-flutter

#3776 `unnecessary_overrides` fix false positive for commented super calls
  lib/src/rules/unnecessary_overrides.dart
  test/rules/unnecessary_overrides_test.dart
  test_data/rules/unnecessary_overrides.dart
Labels: set-core

#3780 parameter checking code de-duping
  lib/src/rules/avoid_positional_boolean_parameters.dart
Labels: type-code-health

#3782 `flutter_style_todos`: factor out sync*
  lib/src/rules/flutter_style_todos.dart
Labels: type-performance

#3781 `prefer_const_constructors`: constant check re-ordering
  lib/src/rules/prefer_const_constructors.dart
Labels: type-performance, set-flutter

#3788 analyzer 5.2.0
  lib/src/ast.dart
  lib/src/extensions.dart
  lib/src/rules/avoid_classes_with_only_static_members.dart
  lib/src/rules/avoid_equals_and_hash_code_on_mutable_classes.dart
  lib/src/rules/avoid_implementing_value_types.dart
  lib/src/rules/avoid_returning_this.dart
  lib/src/rules/avoid_type_to_string.dart
  lib/src/rules/avoid_types_as_parameter_names.dart
  lib/src/rules/deprecated_consistency.dart
  lib/src/rules/empty_catches.dart
  lib/src/rules/exhaustive_cases.dart
  lib/src/rules/implementation_imports.dart
  lib/src/rules/library_private_types_in_public_api.dart
  lib/src/rules/missing_whitespace_between_adjacent_strings.dart
  lib/src/rules/no_default_cases.dart
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  lib/src/rules/no_runtimeType_toString.dart
  lib/src/rules/non_constant_identifier_names.dart
  lib/src/rules/null_closures.dart
  lib/src/rules/overridden_fields.dart
  lib/src/rules/prefer_asserts_in_initializer_lists.dart
  lib/src/rules/prefer_const_constructors.dart
  lib/src/rules/prefer_const_constructors_in_immutables.dart
  lib/src/rules/prefer_const_literals_to_create_immutables.dart
  lib/src/rules/prefer_for_elements_to_map_fromIterable.dart
  lib/src/rules/prefer_initializing_formals.dart
  lib/src/rules/prefer_is_not_empty.dart
  lib/src/rules/prefer_mixin.dart
  lib/src/rules/prefer_relative_imports.dart
  lib/src/rules/unawaited_futures.dart
  lib/src/rules/unnecessary_lambdas.dart
  lib/src/rules/unnecessary_null_aware_operator_on_extension_on_nullable.dart
  lib/src/rules/unnecessary_overrides.dart
  lib/src/rules/unnecessary_this.dart
  lib/src/rules/unreachable_from_main.dart
  lib/src/rules/unrelated_type_equality_checks.dart
  lib/src/rules/unsafe_html.dart
  lib/src/rules/use_enums.dart
  lib/src/rules/use_key_in_widget_constructors.dart
  lib/src/rules/use_named_constants.dart
  lib/src/rules/use_rethrow_when_possible.dart
  lib/src/rules/valid_regexps.dart
  lib/src/util/dart_type_utilities.dart
  lib/src/util/flutter_utils.dart
  lib/src/util/unrelated_types_visitor.dart
  pubspec.yaml
  tool/checks/rules/visit_registered_nodes.dart
Labels: set-recommended, set-core, set-flutter
