Repository dart-lang/linter, pull requests merged in 2022-09, with the labels that each got.

#3643 analyzer 5.0.0 prep
  lib/src/extensions.dart
  lib/src/rules/annotate_overrides.dart
  lib/src/rules/avoid_renaming_method_parameters.dart
  lib/src/rules/public_member_api_docs.dart
  pubspec.yaml
  test/rules/constant_identifier_names_test.dart
  test/rules/public_member_api_docs_test.dart
Labels: set-recommended

#3646 remove unnecessary rule name duplication from lint test expectations
  test/rule_test_support.dart
  test/rules/annotate_overrides_test.dart
  test/rules/avoid_annotating_with_dynamic_test.dart
  test/rules/avoid_final_parameters_test.dart
  test/rules/avoid_init_to_null_test.dart
  test/rules/avoid_redundant_argument_values_test.dart
  test/rules/avoid_renaming_method_parameters_test.dart
  test/rules/avoid_returning_this_test.dart
  test/rules/avoid_setters_without_getters_test.dart
  test/rules/avoid_shadowing_type_parameters_test.dart
  test/rules/avoid_types_as_parameter_names_test.dart
  test/rules/conditional_uri_does_not_exist_test.dart
  test/rules/constant_identifier_names_test.dart
  test/rules/deprecated_consistency_test.dart
  test/rules/discarded_futures_test.dart
  test/rules/file_names_test.dart
  test/rules/library_private_types_in_public_api_test.dart
  test/rules/non_constant_identifier_names_test.dart
  test/rules/null_closures_test.dart
  test/rules/omit_local_variable_types_test.dart
  test/rules/overridden_fields_test.dart
  test/rules/prefer_asserts_in_initializer_lists_test.dart
  test/rules/prefer_collection_literals_test.dart
  test/rules/prefer_contains_test.dart
  test/rules/prefer_equal_for_default_values_test.dart
  test/rules/public_member_api_docs_test.dart
  test/rules/sort_constructors_first.dart
  test/rules/sort_unnamed_constructors_first.dart
  test/rules/super_goes_last_test.dart
  test/rules/tighten_type_of_initializing_formals_test.dart
  test/rules/type_init_formals_test.dart
  test/rules/unnecessary_const_test.dart
  test/rules/unnecessary_overrides_test.dart
  test/rules/use_enums_test.dart
  test/rules/use_string_in_part_of_directives.dart
  test/rules/use_super_parameters_test.dart
Labels: type-test, type-code-health

#3661 [non_constant_identifier_names] check records
  lib/src/rules/non_constant_identifier_names.dart
  test/rules/non_constant_identifier_names_test.dart
Labels: set-core

#3663 [unnecessary_const] records support
  lib/src/rules/unnecessary_const.dart
  test/rules/unnecessary_const_test.dart
Labels: set-recommended

#3664 verify that reflective rule tests are in the "all tests" suite
  test/all.dart
  test/rules/all.dart
  test/rules/sort_constructors_first_test.dart
  test/rules/sort_unnamed_constructors_first_test.dart
  test/verify_reflective_test_suites.dart
Labels: type-test, type-code-health

#3678 check parenthesized cases
  lib/src/rules/exhaustive_cases.dart
  test_data/rules/exhaustive_cases.dart
Labels: set-recommended

#3679 fix `use_build_context_synchronously` to check for `BuildContext`s in NamedExpressions
  lib/src/rules/use_build_context_synchronously.dart
  test/rule_test_support.dart
  test/rules/all.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#3682 check record type annotation field names
  lib/src/rules/non_constant_identifier_names.dart
  test/rules/non_constant_identifier_names_test.dart
Labels: set-core

#3689 update use_build_context_synchronously for BuildContext.mounted
  lib/src/rules/use_build_context_synchronously.dart
  test_data/mock_packages/flutter/lib/src/widgets/framework.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-flutter

#3694 fix unnecessary_brace_in_string_interps for this expressions
  lib/src/rules/unnecessary_brace_in_string_interps.dart
  test/rules/all.dart
  test/rules/unnecessary_brace_in_string_interps_test.dart
Labels: set-recommended

#2833 Fix false positive in `comment_references`
  lib/src/rules/comment_references.dart
  test_data/rules/comment_references.dart
Labels: cla: yes, false positive, set-internal

#3703 Report unrelated types on implicit receiver calls from extension
  lib/src/util/unrelated_types_visitor.dart
  test_data/rules/iterable_contains_unrelated_type.dart
  test_data/rules/list_remove_unrelated_type.dart
Labels: false negative

#3704 check for context property accesses in `use_build_context_synchronously`
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#3707 perf improvements for `recursive_getters`
  lib/src/rules/recursive_getters.dart
  test/rules/all.dart
  test/rules/recursive_getters_test.dart
Labels: set-recommended

#3710 validate rule descriptions don't have needless leading whitespace
  lib/src/rules/avoid_final_parameters.dart
  lib/src/rules/leading_newlines_in_multiline_strings.dart
  lib/src/rules/prefer_const_literals_to_create_immutables.dart
  lib/src/rules/prefer_double_quotes.dart
  lib/src/rules/prefer_int_literals.dart
  lib/src/rules/prefer_single_quotes.dart
  lib/src/rules/unnecessary_null_aware_operator_on_extension_on_nullable.dart
  test/all.dart
  test/rule_test.dart
  test/validate_rule_description_format_test.dart
Labels: type-code-health, set-flutter

#3714 migrate `avoid_null_checks_in_equality_operators` away from `traverseNodesInDFS()`
  lib/src/rules/avoid_null_checks_in_equality_operators.dart
Labels: type-performance, set-recommended

#3716 Fix unnecessary_parenthesis with as-expression
  lib/src/rules/unnecessary_parenthesis.dart
  test_data/rules/unnecessary_parenthesis.dart
Labels: false positive

#3693 Check unrelated types on cascades
  lib/src/util/unrelated_types_visitor.dart
  test_data/rules/iterable_contains_unrelated_type.dart
  test_data/rules/list_remove_unrelated_type.dart
Labels: false negative, needs internal testing

#3692 New lint rule: collection_methods_unrelated_type
  example/all.yaml
  lib/src/rules.dart
  lib/src/rules/collection_methods_unrelated_type.dart
  lib/src/rules/iterable_contains_unrelated_type.dart
  lib/src/rules/list_remove_unrelated_type.dart
  lib/src/util/unrelated_types_visitor.dart
  test/rules/all.dart
  test/rules/collection_methods_unrelated_type_test.dart
Labels: set-core
