Repository dart-lang/linter, pull requests merged in 2022-12, with the labels that each got.

#3871 ensure rule indices are sorted by name
  tool/doc.dart
Labels: type-documentation

#2800 Fix unnecessary_parenthesis for PropertyAccess and MethodInvocation
  lib/src/rules/unnecessary_parenthesis.dart
  test_data/rules/unnecessary_parenthesis.dart
Labels: cla: yes, false negative

#2832 Fix false negative in `avoid_positional_boolean_parameters`
  lib/src/rules/avoid_positional_boolean_parameters.dart
  test_data/rules/avoid_positional_boolean_parameters.dart
Labels: cla: yes, false negative, set-internal

#3898 (un)deprecate `prefer_equal_for_default_values`
  example/all.yaml
  lib/src/rules/prefer_equal_for_default_values.dart
Labels: set-recommended

#3863 Update avoid_init_to_null description for null safety
  lib/src/rules/avoid_init_to_null.dart
Labels: set-recommended

#2823 Fix false negative in `avoid_types_as_parameter_names`
  lib/src/rules/avoid_types_as_parameter_names.dart
  test_data/rules/avoid_types_as_parameter_names.dart
Labels: cla: yes, false negative, needs internal testing, set-core

#3899 remove unneeded `--packages` test arg
  test/integration/close_sinks.dart
Labels: type-test

#3907 Fix examples in avoid_null_checks_in_equality_operators
  lib/src/rules/avoid_null_checks_in_equality_operators.dart
Labels: set-recommended

#3932 remove support for the default `List` constructor
  lib/src/rules/prefer_collection_literals.dart
  test/rules/prefer_collection_literals_test.dart
Labels: set-recommended
