Repository dart-lang/linter, pull requests merged in 2022-07, with the labels that each got.

#3379 catch '${x.toString()}' with noop_primitive_operations
  lib/src/rules/noop_primitive_operations.dart
  test_data/rules/noop_primitive_operations.dart
Labels: help wanted, needs internal testing, set-internal (available)

#3541 ensure reflective tests don't enable default on experiments
  test/rule_test_support.dart
  test/rules/annotate_overrides_test.dart
  test/rules/avoid_annotating_with_dynamic_test.dart
  test/rules/avoid_equals_and_hash_code_on_mutable_classes_test.dart
  test/rules/avoid_final_parameters_test.dart
  test/rules/avoid_init_to_null_test.dart
  test/rules/avoid_redundant_argument_values_test.dart
  test/rules/avoid_renaming_method_parameters_test.dart
  test/rules/avoid_returning_this_test.dart
  test/rules/avoid_setters_without_getters_test.dart
  test/rules/avoid_shadowing_type_parameters_test.dart
  test/rules/avoid_types_as_parameter_names_test.dart
  test/rules/avoid_unused_constructor_parameters_test.dart
  test/rules/deprecated_consistency_test.dart
  test/rules/hash_and_equals_test.dart
  test/rules/library_private_types_in_public_api_test.dart
  test/rules/prefer_asserts_in_initializer_lists_test.dart
  test/rules/prefer_equal_for_default_values_test.dart
  test/rules/prefer_final_fields_test.dart
  test/rules/prefer_final_parameters_test.dart
  test/rules/public_member_api_docs_test.dart
  test/rules/sort_constructors_first.dart
  test/rules/sort_unnamed_constructors_first.dart
  test/rules/tighten_type_of_initializing_formals_test.dart
  test/rules/type_init_formals_test.dart
  test/rules/unnecessary_overrides_test.dart
  test/rules/use_enums_test.dart
  test/rules/use_super_parameters_test.dart
Labels: type-code-health

#3547 update to analyzer 4.3.0 APIs
  lib/src/ast.dart
  lib/src/rules/avoid_classes_with_only_static_members.dart
  lib/src/rules/avoid_implementing_value_types.dart
  lib/src/rules/avoid_type_to_string.dart
  lib/src/rules/deprecated_consistency.dart
  lib/src/rules/implementation_imports.dart
  lib/src/rules/missing_whitespace_between_adjacent_strings.dart
  lib/src/rules/overridden_fields.dart
  lib/src/rules/prefer_asserts_in_initializer_lists.dart
  lib/src/rules/prefer_const_constructors.dart
  lib/src/rules/prefer_const_constructors_in_immutables.dart
  lib/src/rules/prefer_for_elements_to_map_fromIterable.dart
  lib/src/rules/prefer_initializing_formals.dart
  lib/src/rules/prefer_is_not_empty.dart
  lib/src/rules/prefer_relative_imports.dart
  lib/src/rules/unawaited_futures.dart
  lib/src/rules/unnecessary_lambdas.dart
  lib/src/rules/unnecessary_null_aware_operator_on_extension_on_nullable.dart
  lib/src/rules/unnecessary_this.dart
  lib/src/rules/unsafe_html.dart
  lib/src/rules/use_enums.dart
  lib/src/rules/use_key_in_widget_constructors.dart
  lib/src/rules/use_named_constants.dart
  lib/src/rules/valid_regexps.dart
  lib/src/util/dart_type_utilities.dart
  pubspec.yaml
  tool/checks/rules/visit_registered_nodes.dart
Labels: type-code-health, set-recommended, set-core, set-flutter

#3548 fix `prefer_contains` when start index is non-zero
  lib/src/rules/prefer_contains.dart
  test/rules/prefer_contains_test.dart
Labels: set-recommended

#3550 fix doc example syntax
  lib/src/rules/prefer_inlined_adds.dart
  lib/src/rules/prefer_iterable_whereType.dart
Labels: set-recommended, set-core

#3554 update test expectations
  pubspec.yaml
  test/rules/prefer_contains_test.dart
Labels: type-test

#3555 clean up some unnecessary nullables
  lib/src/rules/always_require_non_null_named_parameters.dart
  lib/src/rules/avoid_positional_boolean_parameters.dart
  lib/src/rules/avoid_returning_null.dart
  lib/src/rules/null_closures.dart
  lib/src/util/condition_scope_visitor.dart
  test/integration_test.dart
Labels: type-code-health, set-recommended

#3562 update doc to use super params
  lib/src/rules/use_key_in_widget_constructors.dart
Labels: set-flutter
