Repository dart-lang/linter, pull requests merged in 2022-05, with the labels that each got.

#3404 `unawaited_futures` to handle string interpolation
  lib/src/rules/unawaited_futures.dart
  test_data/rules/unawaited_futures.dart
Labels: needs internal testing

#3422 `prefer_initializing_formals` iteration optimizations
  lib/src/rules/prefer_initializing_formals.dart
Labels: performance, set: recommended

#3423 `prefer_const_constructors_in_immutables`: optimize out sync* and extra iteration
  lib/src/rules/prefer_const_constructors_in_immutables.dart
Labels: performance, set: flutter

#3426 automate validation of node visitor registrations
  lib/src/rules/unnecessary_statements.dart
  lib/src/rules/unsafe_html.dart
  tool/bot.sh
  tool/checks/driver.dart
  tool/checks/rules/visit_registered_nodes.dart
Labels: code health
