Repository dart-lang/linter, pull requests merged in 2023-02, with the labels that each got.

#4056 fix pattern constant detection
  lib/src/rules/unnecessary_const.dart
  test/rules/unnecessary_const_test.dart
Labels: set-recommended

#4059 convert mixed in abstract class to a proper mixin
  lib/src/rules/control_flow_in_finally.dart
  lib/src/rules/throw_in_finally.dart
Labels: set-recommended

#4070 analyzer API updates
  lib/src/rules/non_constant_identifier_names.dart
  lib/src/rules/pub/secure_pubspec_urls.dart
  test/integration/lines_longer_than_80_chars.dart
  test/rules/constant_identifier_names_test.dart
  test/rules/non_constant_identifier_names_test.dart
Labels: set-core

#4079 `unnecessary_null_checks` to ignore `Future.value` and
  lib/src/rules/unnecessary_null_checks.dart
  test/rules/unnecessary_null_checks_test.dart
Labels: false positive

#4057 [only_throw_errors] don't report on values of type Never
  AUTHORS
  lib/src/rules/only_throw_errors.dart
  test/rules/only_throw_errors_test.dart
Labels: false positive, needs internal testing

#4089 unnecessary_lambdas: Do not report when expression has late final variables
  lib/src/rules/unnecessary_lambdas.dart
  test/rules/unnecessary_lambdas_test.dart
Labels: false positive

#4039 Don't report `avoid_function_literals_in_foreach_calls` with null-aware call
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  test/rules/avoid_function_literals_in_foreach_calls_test.dart
Labels: set-recommended
