Repository dart-lang/linter, pull requests merged in 2023-01, with the labels that each got.

#3741 Check for-elements, if-elements, and set-literals for adjacent strings
  lib/src/rules/no_adjacent_strings_in_list.dart
  test_data/rules/no_adjacent_strings_in_list.dart
Labels: false negative

#3956 State migration
  lib/src/analyzer.dart
  lib/src/rules/avoid_as.dart
  lib/src/rules/avoid_dynamic_calls.dart
  lib/src/rules/avoid_web_libraries_in_flutter.dart
  lib/src/rules/cast_nullable_to_non_nullable.dart
  lib/src/rules/diagnostic_describe_all_properties.dart
  lib/src/rules/implicit_call_tearoffs.dart
  lib/src/rules/invariant_booleans.dart
  lib/src/rules/no_default_cases.dart
  lib/src/rules/null_check_on_nullable_type_parameter.dart
  lib/src/rules/prefer_bool_in_asserts.dart
  lib/src/rules/prefer_equal_for_default_values.dart
  lib/src/rules/require_trailing_commas.dart
  lib/src/rules/super_goes_last.dart
  lib/src/rules/unnecessary_null_checks.dart
  lib/src/rules/unnecessary_nullable_for_final_variable_declarations.dart
  lib/src/rules/unreachable_from_main.dart
  lib/src/rules/use_build_context_synchronously.dart
  lib/src/rules/use_enums.dart
  lib/src/rules/use_late_for_private_fields_and_variables.dart
  lib/src/rules/use_super_parameters.dart
  pubspec.yaml
  test/integration_test.dart
  test_data/rules/avoid_as.dart
  tool/canonical/scorecard.dart
  tool/doc.dart
  tool/machine.dart
  tool/scorecard.dart
Labels: set-recommended, set-core, set-flutter

#3947 Fix use_build_context_synchronously in if conditions
  AUTHORS
  lib/src/rules/use_build_context_synchronously.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-flutter

#3959 fix state label
  tool/doc.dart
Labels: type-documentation

#2841 Better lint messages for `always_specify_types`
  lib/src/rules/always_specify_types.dart
  test_data/rules/always_specify_types.dart
Labels: cla: yes

#3977 3.0 deprecations
  example/all.yaml
  lib/src/rules/always_require_non_null_named_parameters.dart
  lib/src/rules/avoid_returning_null.dart
  lib/src/rules/avoid_returning_null_for_future.dart
  lib/src/rules/prefer_equal_for_default_values.dart
Labels: set-recommended

#3978 extend `non_constant_identifier_names` for patterns
  lib/src/rules/non_constant_identifier_names.dart
  test/rules/non_constant_identifier_names_test.dart
Labels: set-core

#3979 check declared var patterns in `constant_identifier_names`
  lib/src/rules/constant_identifier_names.dart
  test/rules/constant_identifier_names_test.dart
Labels: set-recommended

#3984 Add lint codes to a few more lints
  lib/src/rules/avoid_renaming_method_parameters.dart
  lib/src/rules/combinators_ordering.dart
  lib/src/rules/diagnostic_describe_all_properties.dart
  lib/src/rules/discarded_futures.dart
  lib/src/rules/enable_null_safety.dart
  lib/src/rules/implicit_call_tearoffs.dart
  lib/src/rules/prefer_final_locals.dart
  lib/src/rules/public_member_api_docs.dart
  lib/src/rules/sized_box_shrink_expand.dart
  lib/src/rules/unnecessary_getters.dart
  lib/src/rules/unreachable_from_main.dart
  lib/src/rules/use_is_even_rather_than_modulo.dart
  lib/src/rules/use_setters_to_change_properties.dart
  lib/src/rules/use_string_in_part_of_directives.dart
Labels: set-recommended

#3996 flip the `noSoundNullSafety` flag for tests
  test/integration/always_require_non_null_named_parameters.dart
  test/integration/cancel_subscriptions.dart
  test/integration/close_sinks.dart
  test/integration/use_build_context_synchronously.dart
  test/rule_test.dart
  test/rules/avoid_redundant_argument_values_test.dart
  test/rules/enable_null_safety_test.dart
  test/rules/null_closures_test.dart
  test/rules/only_throw_errors_test.dart
Labels: type-test

#3993 Fix void_checks false positive: allow returning Never as void
  lib/src/rules/void_checks.dart
  test_data/rules/experiments/nnbd/rules/void_checks.dart
Labels: set-core

#4016 remove `prefer_equal_for_default_values`
  lib/src/rules/prefer_equal_for_default_values.dart
  test/rules/all.dart
  test/rules/prefer_equal_for_default_values_test.dart
  test_data/rules/prefer_equal_for_default_values.dart
Labels: set-recommended

#4022 fix `void_checks` false positive
  lib/src/rules/void_checks.dart
  test/rules/void_checks_test.dart
Labels: set-core

#4023 fix state since bounds
  lib/src/analyzer.dart
  lib/src/rules/always_require_non_null_named_parameters.dart
  lib/src/rules/avoid_as.dart
  lib/src/rules/avoid_returning_null.dart
  lib/src/rules/avoid_returning_null_for_future.dart
  lib/src/rules/enable_null_safety.dart
  lib/src/rules/invariant_booleans.dart
  pubspec.yaml
Labels: set-recommended

#4024 Migrate removed state header to use language version
  tool/doc.dart
Labels: type-documentation
