Repository dart-lang/linter, pull requests merged in 2023-08, with the labels that each got.

#4640 tidy up spelling
  doc/lint-lifecycle.md
  doc/use_build_context_synchronously.md
  lib/src/rules/avoid_redundant_argument_values.dart
  lib/src/rules/prefer_final_fields.dart
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/unnecessary_string_interpolations_test.dart
  test/rules/void_checks_test.dart
  test_data/mock_packages/meta/lib/meta.dart
Labels: set-recommended, set-flutter

#4648 Bump to analyzer 6.1.0
  lib/src/rules/avoid_return_types_on_setters.dart
  lib/src/rules/curly_braces_in_flow_control_structures.dart
  lib/src/rules/prefer_generic_function_type_aliases.dart
  lib/src/rules/slash_for_doc_comments.dart
  lib/src/rules/test_types_in_equals.dart
  lib/src/rules/unnecessary_const.dart
  lib/src/rules/unnecessary_new.dart
  lib/src/rules/unnecessary_string_escapes.dart
  lib/src/rules/use_function_type_syntax_for_parameters.dart
  pubspec.yaml
  test/rule_test.dart
  test/rules/prefer_const_constructors_test.dart
Labels: set-recommended, set-core

#4653 Enable more lints used in sdk analysis packages
  analysis_options.yaml
  lib/src/rules/avoid_web_libraries_in_flutter.dart
  test/verify_machine_json_test.dart
  tool/labeler/issue_config.dart
  tool/labeler/pr_config.dart
  tool/machine.dart
Labels: set-flutter

#4647 Update `prefer_null_aware_operators` for null safety; migrate tests
  lib/src/rules/prefer_null_aware_operators.dart
  test/rules/all.dart
  test/rules/prefer_null_aware_operators_test.dart
  test_data/rules/prefer_null_aware_operators.dart
Labels: set-recommended

#4660 extension type support for `library_private_types_in_public_api`
  lib/src/rules/library_private_types_in_public_api.dart
  lib/src/rules/public_member_api_docs.dart
  test/rules/library_private_types_in_public_api_test.dart
Labels: set-recommended

#4663 cleanup old test string metadata
  test/rules/directives_ordering_test.dart
  test/rules/overridden_fields_test.dart
  test/rules/use_string_buffers_test.dart
Labels: type-test

#4662 extension type support for `prefer_final_fields`
  lib/src/rules/prefer_final_fields.dart
  test/rules/prefer_final_fields_test.dart
Labels: set-recommended

#4677 extension type support for `unnecessary_constructor_name`
  lib/src/rules/unnecessary_constructor_name.dart
  test/rules/unnecessary_constructor_name_test.dart
Labels: set-recommended

#4691 Revert "extension type support for `avoid_shadowing_type_parameters`"
  lib/src/rules/avoid_shadowing_type_parameters.dart
  test/rules/avoid_shadowing_type_parameters_test.dart
Labels: set-core

#4693 extension type support for `avoid_shadowing_type_parameters`
  lib/src/rules/avoid_shadowing_type_parameters.dart
  test/rules/avoid_shadowing_type_parameters_test.dart
Labels: set-core

#4696 extension type support for `non_constant_identifier_names`
  lib/src/rules/non_constant_identifier_names.dart
  test/rules/non_constant_identifier_names_test.dart
Labels: set-core
