Repository dart-lang/linter, pull requests merged in 2023-06, with the labels that each got.

#4429 generate/update all rule-supporting files
  lib/src/rules.dart
  lib/src/rules/avoid_equals_and_hash_code_on_mutable_classes.dart
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  lib/src/rules/diagnostic_describe_all_properties.dart
  lib/src/rules/library_private_types_in_public_api.dart
  lib/src/rules/prefer_constructors_over_static_methods.dart
  lib/src/rules/prefer_contains.dart
  lib/src/rules/pub/depend_on_referenced_packages.dart
  lib/src/rules/pub/package_names.dart
  lib/src/rules/use_is_even_rather_than_modulo.dart
  lib/src/rules/use_setters_to_change_properties.dart
  lib/src/rules/valid_regexps.dart
  test/rules/all.dart
  tool/rule.dart
Labels: set-recommended, set-core

#4390 Update use_build_context_synchronously to track async state in a single visitor.
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-flutter

#4433 use_build_context: Address TODO with async in if/else bodies
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4437 Issue 52610. Fix 'prefer_interpolation_to_compose_strings' when 'toString()' with arguments.
  CHANGELOG.md
  lib/src/ast.dart
  lib/src/rules/prefer_interpolation_to_compose_strings.dart
  test/rules/all.dart
  test/rules/prefer_interpolation_to_compose_strings_test.dart
  test_data/rules/prefer_interpolation_to_compose_strings.dart
Labels: set-recommended

#4434 Move many use_build_context_synchronously tests to reflective
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-flutter

#4436 use_build_context: Fix a failing test regarding the looping of while loops
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4454 AsyncStateVisitor unit tests
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4464 tweak `prefer_conditional_assignment` messaging
  lib/src/rules/prefer_conditional_assignment.dart
Labels: set-recommended

#4463 stop flagging empty statements in switch pattern cases
  lib/src/rules/empty_statements.dart
  test/rules/all.dart
  test/rules/empty_statements_test.dart
Labels: set-recommended

#4455 Many small improvements to use_build_context_synchronously
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-flutter

#4473 use_build_context_synchronously: Fix a few TODOs
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4482 use_build_context_synchronously: Fix context-in-await cases
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4511 Add a getter to lint rules that can work with just a parsed AST.
  lib/src/rules/avoid_return_types_on_setters.dart
  lib/src/rules/curly_braces_in_flow_control_structures.dart
  lib/src/rules/prefer_generic_function_type_aliases.dart
  lib/src/rules/slash_for_doc_comments.dart
  lib/src/rules/unnecessary_const.dart
  lib/src/rules/unnecessary_new.dart
  lib/src/rules/unnecessary_string_escapes.dart
  lib/src/rules/use_function_type_syntax_for_parameters.dart
Labels: set-recommended, set-core
