Repository dart-lang/linter, pull requests merged in 2023-05, with the labels that each got.

#4330 Don't check if iterable is nullable, what matters is null-aware calls
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  test/rules/avoid_function_literals_in_foreach_calls_test.dart
Labels: set-recommended

#4323 Refactor "mounted check" computation in `use_build_context_synchronously`
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4338 Replace deprecated references for analyzer 5.12
  lib/src/rules/always_specify_types.dart
  lib/src/rules/avoid_annotating_with_dynamic.dart
  lib/src/rules/avoid_dynamic_calls.dart
  lib/src/rules/avoid_private_typedef_functions.dart
  lib/src/rules/avoid_redundant_argument_values.dart
  lib/src/rules/avoid_types_on_closure_parameters.dart
  lib/src/rules/await_only_futures.dart
  lib/src/rules/cast_nullable_to_non_nullable.dart
  lib/src/rules/library_private_types_in_public_api.dart
  lib/src/rules/omit_local_variable_types.dart
  lib/src/rules/only_throw_errors.dart
  lib/src/rules/prefer_mixin.dart
  lib/src/rules/prefer_void_to_null.dart
  lib/src/rules/type_annotate_public_apis.dart
  lib/src/rules/unnecessary_nullable_for_final_variable_declarations.dart
  lib/src/rules/unsafe_html.dart
  lib/src/rules/use_late_for_private_fields_and_variables.dart
  lib/src/rules/use_to_and_as_if_applicable.dart
  lib/src/rules/void_checks.dart
  lib/src/util/dart_type_utilities.dart
  test/engine_test.dart
  test/formatter_test.dart
Labels: set-recommended, set-core

#4343 fix `prefer_final_fields` false positive for inherited setters
  lib/src/rules/prefer_final_fields.dart
  test/rules/prefer_final_fields_test.dart
Labels: set-recommended

#4347 Fix for crash in prefer_const_constructors_in_immutables when firstWhere().
  lib/src/rules/prefer_const_constructors_in_immutables.dart
  test/rules/prefer_const_constructors_in_immutables_test.dart
Labels: set-flutter

#4344 Report use_build_context_synchronously for null-asserted BuildContext
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4360 Deprecate iterable_contains_unrelated_type and list_remove_unrelated_types
  example/all.yaml
  lib/src/rules/iterable_contains_unrelated_type.dart
  lib/src/rules/list_remove_unrelated_type.dart
Labels: set-core

#4374 skip undefined classes in `await_only_futures`
  lib/src/rules/await_only_futures.dart
  test/rules/all.dart
  test/rules/await_only_futures_test.dart
Labels: set-core

#4376 add `replacedBy` info to point to `collection_methods_unrelated_type`
  lib/src/rules/iterable_contains_unrelated_type.dart
  lib/src/rules/list_remove_unrelated_type.dart
Labels: set-core

#4386 Use more direct Effective Dart links
  .github/ISSUE_TEMPLATE/lint-proposal.md
  README.md
  doc/writing-lints.md
  lib/src/rules/avoid_classes_with_only_static_members.dart
  lib/src/rules/avoid_equals_and_hash_code_on_mutable_classes.dart
  lib/src/rules/avoid_init_to_null.dart
  lib/src/rules/camel_case_extensions.dart
  lib/src/rules/camel_case_types.dart
  lib/src/rules/directives_ordering.dart
  lib/src/rules/empty_constructor_bodies.dart
  lib/src/rules/no_literal_bool_comparisons.dart
  lib/src/rules/one_member_abstracts.dart
  lib/src/rules/package_api_docs.dart
  lib/src/rules/prefer_equal_for_default_values.dart
  lib/src/rules/slash_for_doc_comments.dart
  lib/src/rules/super_goes_last.dart
  lib/src/rules/type_annotate_public_apis.dart
  lib/src/rules/type_init_formals.dart
  lib/src/rules/unnecessary_final.dart
  lib/src/rules/unnecessary_getters_setters.dart
  lib/src/rules/unnecessary_this.dart
  lib/src/rules/use_if_null_to_convert_nulls_to_bools.dart
  lib/src/rules/use_string_in_part_of_directives.dart
  lib/src/rules/use_to_and_as_if_applicable.dart
Labels: set-recommended, set-core

#3340 check trailing commas in list/set/map literals
  lib/src/rules/require_trailing_commas.dart
  test_data/rules/require_trailing_commas.dart
Labels: contributions-welcome, needs internal testing, set-internal (available)

#4380 Print the type names in unrelated_type_equality_checks
  lib/src/rules/unrelated_type_equality_checks.dart
  test/rules/unrelated_type_equality_checks_test.dart
Labels: set-core
