Repository dart-lang/linter, pull requests merged in 2023-07, with the labels that each got.

#4533 fix `library_private_types_in_public_api` overreporting on enum constructor params
  lib/src/rules/library_private_types_in_public_api.dart
  test/rules/library_private_types_in_public_api_test.dart
Labels: set-recommended

#4534 handle `library_private_types_in_public_api` false positives for modified classes
  lib/src/rules/library_private_types_in_public_api.dart
  test/rules/library_private_types_in_public_api_test.dart
Labels: set-recommended

#4536 fix `public_member_api_docs` to not overreport elements marked @internal
  lib/src/extensions.dart
  lib/src/rules/library_private_types_in_public_api.dart
  lib/src/rules/public_member_api_docs.dart
  test/rules/public_member_api_docs_test.dart
Labels: set-recommended

#4537 Report unnecessary_parenthesis around Literal and PrefixedIdentifier
  lib/src/rules/unnecessary_parenthesis.dart
  test_data/rules/unnecessary_parenthesis.dart
Labels: false negative

#4542 analyzer 6.0.0
  lib/src/rules/prefer_spread_collections.dart
  pubspec.yaml
  test/rules/deprecated_member_use_from_same_package_test.dart
  test/rules/unnecessary_this_test.dart
Labels: set-recommended

#4547 Better handle awaits and mounted checks in fall-through switch cases
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4554 use_build_context_synchronously: handle asynchrony in for- and do-statements better
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-flutter

#4597 Move prefer_for_elements_to_map_fromIterable tests
  lib/src/rules/prefer_for_elements_to_map_fromIterable.dart
  test/rules/all.dart
  test/rules/prefer_for_elements_to_map_fromIterable_test.dart
  test_data/rules/prefer_for_elements_to_map_fromIterable.dart
Labels: set-recommended
