Repository dart-lang/linter, pull requests merged in 2023-03, with the labels that each got.

#4112 ensure rules tests by reflective test exist
  test/rule_test_support.dart
  test/rules/avoid_void_async_test.dart
Labels: type-test, type-code-health

#4128 🔦 optionally dump ASTs on reflective test failures
  test/rule_test_support.dart
Labels: type-test

#4140 `exhaustive_cases` support for switch pattern cases
  lib/src/rules/exhaustive_cases.dart
  test/rule_test_support.dart
  test/rules/all.dart
  test/rules/exhaustive_cases_test.dart
  test_data/rules/exhaustive_cases.dart
Labels: set-recommended

#4148 null assert pattern support for `null_check_on_nullable_type_parameter`
  lib/src/rules/null_check_on_nullable_type_parameter.dart
  test/rule_test_support.dart
  test/rules/all.dart
  test/rules/null_check_on_nullable_type_parameter_test.dart
Labels: set-core

#4133 pattern support for `no_leading_underscores_for_local_identifiers`
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  test/rules/all.dart
  test/rules/no_leading_underscores_for_local_identifiers_test.dart
Labels: set-recommended

#4159 add 3.0 doc to `no_duplicate_case_values`
  lib/src/rules/no_duplicate_case_values.dart
Labels: set-core

#4164 Support analyzer 5.8.0
  lib/src/rules/avoid_returning_null_for_void.dart
  lib/src/rules/avoid_void_async.dart
  lib/src/rules/prefer_void_to_null.dart
  lib/src/rules/use_setters_to_change_properties.dart
  lib/src/rules/void_checks.dart
  pubspec.yaml
  test/rule_test_support.dart
  test/rules/avoid_renaming_method_parameters_test.dart
  test/rules/constant_identifier_names_test.dart
  test/rules/deprecated_member_use_from_same_package_test.dart
  test/rules/invalid_case_patterns_test.dart
  test/rules/library_annotations_test.dart
  test/rules/no_duplicate_case_values_test.dart
  test/rules/no_leading_underscores_for_local_identifiers_test.dart
  test/rules/non_constant_identifier_names_test.dart
  test/rules/one_member_abstracts_test.dart
  test/rules/only_throw_errors_test.dart
  test/rules/prefer_const_declarations_test.dart
  test/rules/prefer_final_locals_test.dart
  test/rules/prefer_mixin_test.dart
  test/rules/unnecessary_breaks_test.dart
  test/rules/unnecessary_const_test.dart
  test/rules/unnecessary_parenthesis_test.dart
  test/rules/use_enums_test.dart
  test_data/rules/iterable_contains_unrelated_type.dart
  test_data/rules/list_remove_unrelated_type.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-recommended, set-core

#4169 Fix #4165 by visiting SwitchPatternCase
  lib/src/rules/use_build_context_synchronously.dart
  test_data/rules/use_build_context_synchronously.dart
Labels: set-flutter

#4191 assigned variable support for `void_checks`
  lib/src/rules/void_checks.dart
  test/rules/void_checks_test.dart
Labels: set-core

#4189 declared variable pattern support for `unnecessary_nullable_for_final_variable_declarations`
  lib/src/rules/unnecessary_nullable_for_final_variable_declarations.dart
  test/rules/all.dart
  test/rules/unnecessary_nullable_for_final_variable_declarations_test.dart
Labels: set-recommended

#4208 don't overreport `prefer_void_to_null` on cast patterns and as expressions
  lib/src/rules/prefer_void_to_null.dart
  test/rules/prefer_void_to_null_test.dart
Labels: set-recommended

#4213 don't wildcard patterns w/ `non_constant_identifier_names`
  lib/src/rules/non_constant_identifier_names.dart
  test/rules/non_constant_identifier_names_test.dart
Labels: set-core

#4216 filter UNUSED_LOCAL_VARIABLE diagnostics in test expectations
  test/rule_test_support.dart
  test/rules/cancel_subscriptions_test.dart
  test/rules/constant_identifier_names_test.dart
  test/rules/join_return_with_assignment_test.dart
  test/rules/non_constant_identifier_names_test.dart
  test/rules/null_check_on_nullable_type_parameter_test.dart
  test/rules/parameter_assignments_test.dart
  test/rules/prefer_const_constructors_test.dart
  test/rules/prefer_contains_test.dart
Labels: type-test, type-code-health

#4210 prefer_void_to_null: not for variable declarations
  lib/src/rules/prefer_void_to_null.dart
  test/rules/prefer_void_to_null_test.dart
  test_data/rules/prefer_void_to_null.dart
Labels: set-recommended
