Repository dart-lang/linter, pull requests merged in 2023-04, with the labels that each got.

#4224 `null_check_on_nullable_type_parameter` pattern assignment support
  lib/src/rules/null_check_on_nullable_type_parameter.dart
  test/rules/null_check_on_nullable_type_parameter_test.dart
Labels: set-core

#4254 `prefer_const_constructors_in_immutables`: simplify visitConstructorDeclaration override
  lib/src/rules/prefer_const_constructors_in_immutables.dart
  test/integration/prefer_const_constructors_in_immutables.dart
  test/integration_test.dart
  test/rules/prefer_const_constructors_in_immutables_test.dart
  test_data/integration/prefer_const_constructors_in_immutables/lib.dart
Labels: set-flutter

#4274 hasLeadingUnderscore extension cleanup
  lib/src/rules/no_leading_underscores_for_library_prefixes.dart
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  lib/src/util/ascii_utils.dart
  lib/src/utils.dart
Labels: set-recommended

#4279 [use_build_context_synchronously] Fix for unprotected 'last' invocation.
  lib/src/rules/use_build_context_synchronously.dart
  test/rule_test_support.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#2830 Fix false negative in `prefer_contains`
  lib/src/extensions.dart
  test_data/rules/prefer_contains.dart
Labels: cla: yes, false negative, needs internal testing

#4288 `unnecessary_final` support for `ForEachPartsWithPattern`s
  lib/src/extensions.dart
  lib/src/rules/prefer_final_locals.dart
  lib/src/rules/unnecessary_final.dart
  test/rules/unnecessary_final_test.dart
Labels: new language feature

#4296 fix `no_leading_underscores_for_local_identifiers` pattern field over-reporting
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  test/rules/no_leading_underscores_for_local_identifiers_test.dart
Labels: set-recommended

#4298 fix `constant_identifier_names` pattern field over-reporting
  lib/src/extensions.dart
  lib/src/rules/constant_identifier_names.dart
  lib/src/rules/no_leading_underscores_for_local_identifiers.dart
  test/rules/constant_identifier_names_test.dart
Labels: set-recommended

#4300 fix `non_constant_identifier_names` pattern field over-reporting
  lib/src/rules/non_constant_identifier_names.dart
  test/rules/non_constant_identifier_names_test.dart
Labels: set-core

#4314 + analyzer 5.11.1
  lib/src/rules/avoid_double_and_int_checks.dart
  lib/src/rules/avoid_print.dart
  lib/src/rules/literal_only_boolean_expressions.dart
  lib/src/rules/prefer_conditional_assignment.dart
  lib/src/rules/prefer_null_aware_method_calls.dart
  lib/src/rules/unnecessary_parenthesis.dart
  lib/src/rules/use_build_context_synchronously.dart
  lib/src/util/condition_scope_visitor.dart
  pubspec.yaml
  test/rules/implicit_reopen_test.dart
  test/rules/literal_only_boolean_expressions_test.dart
  test/rules/no_duplicate_case_values_test.dart
  test/rules/prefer_final_locals_test.dart
  test/rules/prefer_void_to_null_test.dart
Labels: set-recommended, set-flutter

#4312 Do not report context.mounted as a use of BuildContext
  lib/src/rules/use_build_context_synchronously.dart
  test/rules/use_build_context_synchronously_test.dart
Labels: set-flutter

#4305 Don't report avoid_function_literals_in_foreach_calls with null-aware chain
  lib/src/extensions.dart
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  lib/src/rules/unnecessary_lambdas.dart
  lib/src/rules/unnecessary_parenthesis.dart
  test/rules/avoid_function_literals_in_foreach_calls_test.dart
Labels: false positive, set-recommended

#4313 Don't report avoid_function_literals_in_foreach_calls inside a cascade
  lib/src/rules/avoid_function_literals_in_foreach_calls.dart
  test/rules/avoid_function_literals_in_foreach_calls_test.dart
Labels: false positive, set-recommended
